<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename= 'css/style.css') }}" rel="stylesheet">
    <title>درگاه پرداخت آنلاین</title>

</head>

<body>
    <div class="card">
        <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
            <i class="checkmark">✘</i>
        </div>
        <h1>دسترسی غیرمجاز</h1>
        <h2>{{ip}}</h2>
        <p>تنها کاربران با آیپی ایران درخواست ارسال کنند<br/>فیلترشکن خود را خاموش کنید!</p>
    </div>
</body>

</html>